.a-scroll-top {
  position: fixed;
  right: 5px;
  bottom: 5px;
  font-size: 12px;
  padding: 3px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  box-shadow: 0 4px 5px 0 var(--gray-40);;
  z-index: 9;
  color: var(--scroll-top);
  opacity: 0;

  &:hover {
    color: var(--scroll-top);
  }
}